<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">
	<test name="Retailer"> 
	<parameter name="browser" value="Chrome" />   
		<classes>
			<class name="test.retailer.RetailerPersonalInfoTest" />	
					
		</classes>
	</test>
	<test name="Brand">
	<parameter name="browser" value="FireFox" />   
		<classes>
			<class name="test.retailer.RetailerPersonalInfoTest" />		
		</classes>
	</test>
	

	<test name="Admin">
		<classes>
			<class name="test.retailer.RetailerPersonalInfoTest" />		
		</classes>
	</test>

	<!-- Test -->

</suite> <!-- Suite -->
